<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-jsT0TI7JBEWn8YstmA/9zrJCL1V9Nc3W8o0sjFOWfu7QFRWjxwELS43/lFzo9t6S" crossorigin="anonymous">
      <title>TinyApp</title>
    </head>

    <header>
        <% include ./partials/_header %>
    </header>

    <body style="font-size:20px; padding:50px;">

      <p>
        <h5 style="margin-top: 40px; margin-bottom: 40px"><a href="http://127.0.0.1:8080/urls/new">Create a <strong>TinyURL</strong></a></h5>
      </p>
        <h4>My URLs</h4>
      <p>
        <table>
            <% for (var short in urls) {%>
          <tr>
            <td>  <h5> <a href="../u/<%= short %>" ><%= short %></a> ===> <%= urls[short] %>  </h5> </td>
            <td> &emsp; </td>
            <td> <a href="/urls/<%= short %>"> Edit </a> </h5> </td>
            <td> &emsp; </td>
            <td>  <form method="POST" action="/urls/<%= short %>/delete"><button type="delete" class="btn btn-primary">Delete</button></form> </td>
           <%}%>
          </tr>
        </table>
      </p>

    </body>
  <!DOCTYPE html>
</html>

